
<html lang="en">

	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="site description goes here">
    	<meta name="keywords" content="site, keywords, go, here">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	</head>



    <body link = "black">


		<header class="site-header clearfix">
			<span class="logo">CODEFIRSTGIRLS</span>
			<nav>
				<ul>
					<li><a href="/" class="button button-small button-cta">Choose another country</a></li>
				</ul>
			</nav>
		</header>

<center>
        <h1> Data for {{country}} <br/> </h1>
<table>
{% for key, value in country_info.items() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>

</center>

    </body>

</html>